body {
  margin: 0;
  font-family: "Calibri", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #CCC;
  padding: .5em 1em;
}

th {
  background: #f3f3f3;
  text-shadow: 1px 1px #FFF;
}
